@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.item::after {
	bottom: -6%;
	left: -6%;
	width: 5rem;
	height: 5rem;
}
.item:hover::before {
	transform: scale(1.8);
}

.item:hover::after {
	transform: scale(0);
}
.nws-modal-wrapper.nws-modal {
	width: 1000px !important;
}
.modal-right {
	width: 79% !important;
}
.open {
	width: 700px !important;
}
.icon {
	margin-top: 20px;
}
.item-img,
.item-title {
	transform: translateY(4rem);
	transition: 0.5s ease-in-out;
}

.item-img {
	width: auto;
	height: 7.5rem;
}

.item-title {
	font-size: 1rem;
	text-transform: capitalize;
	transition-delay: 0.1s;
}
.item-body,
.item-footer {
	transform: translateY(8rem);
	transition: 0.5s ease-in-out;
}

.item-body {
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	transition-delay: 0.2s;
}
.item:hover .item-img,
.item:hover .item-title,
.item:hover .item-body,
.item:hover .item-footer {
	transform: translateY(0);
}
.item-footer {
	transition-delay: 0.3s;
}

.star {
	font-size: 1.4rem;
	color: gold;
}

.item-price {
	font: 1rem sans-serif;
	color: green;
}

.btn {
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px;
}

.btn-success {
	background-color: #00dd53;
	margin-right: 10px;
	margin-left: 10px;
}

.btn-border {
	border: 1px solid #00dd53;
}
